<div>
    <button type="button" class="btn btn-success" (click)="onActivate()">{{buttons.button1}}</button>
    <button type="button" class="btn btn-success ml-2" (click)="onSend()">{{buttons.button2}}</button>
    <button type="button" class="btn btn-success ml-2" (click)="onUpdatePost()">{{buttons.button3}}</button>
    <button type="button" class="btn btn-success ml-2" (click)="onGetUsers()">{{buttons.button4}}</button>
    <button type="button" class="btn btn-success ml-2" (click)="onPrintName()">{{buttons.button5}}</button>
</div>
